@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body
{
background: rgba(0, 0, 0, 0.684);
}
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.main
{
display: block;
padding: 30px;
margin: 10px auto;
background: linear-gradient(155deg, #00feba, #5b548ad1);
border-radius: 10px;
justify-content: center;
align-items: center;
text-align: center;
}
.main input
{
    border-radius: 40px; padding: 15px 60px 15px 15px; font-size: 15px; outline: none; border: none; }
    .main button { padding: 12px 17px; outline: none; border: none; background: white; border-radius: 50px; }
    .main-content { text-align: center; display: none; }
    .main-content .temp { font-size: 40px; font-weight: 800; color: white; font-family: 'Quicksand', sans-serif; }
    .main-content .city { font-size: 40px; font-weight: 600; font-family: 'Quicksand', sans-serif; color: white; }
    .content { margin: 20px; display: flex; justify-content: space-around; }
    .content .wind, .content .humidity { display: flex; }
    .content .wind svg, .content .humidity svg { height: 40px; width: 40px; color: white; margin: -2px 10px 0px 0px; }
    .content .wind h6,.content .humidity h6
    {
    color: white;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    }

